/* --- Main Middle Card --- */
.info-imgs {
  width: 100%;
}

.profile {
  align-items: center;
}

.profile-photo .comment {
  width: 1rem;
  height: 1rem;
}

.comments {
  font-size: 0.8rem;
}

.profile-photo-list span {
  font-size: 0.8rem;
}

.comment {
  width: 1rem;
  height: 1rem;
  min-width: inherit;
  border: 0.05rem solid var(--color-primary);
  margin-left: 0.1rem;
}

.viewNumber {
  font-size: 0.8rem;
  color: var(--color-gray);
}